@import './master.css';

table.result {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

table.result th, table.result td {
  padding: 15px;
  text-align: left;
  border-bottom: 2px solid #bbb;
}

table.result th.short, table.result td.short {
  max-width: 3em;
  overflow-wrap: break-word;
}

table.result tr:hover td, table.result th {
  border-bottom: 2px solid #1946BA;
}
